EssentialFeed.xcodeproj/xcuserdata/chadgames.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
EssentialFeed.xcodeproj/project.xcworkspace/xcuserdata/chadgames.xcuserdatad/UserInterfaceState.xcuserstate
